.hero {
    padding-block-start: 16px;
}

.hero-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-description p {
    text-align: justify;
}

.hero-social {
    padding-block-end: 24px;
}

.hero-image {
    text-align: center;
}

.hero h1 {
    font: var(--headline3);
    margin: 0;
}

.hero h1 span:first-child {
    font: var(--headline5);
    display: block;
}

.link-blog {
    text-decoration: none;
    font: var(--button);
}

/* para Desktop */

@media screen and (min-width: 768px) {
    .hero {
        display: flex;
        gap: 32px;
    }
    .hero-description {
        order: 1;
        max-inline-size: 450px;
    }
    .hero-image {
        order: 2;
        text-align: end;
        flex: 1;
    }
}

@media screen and (min-width: 1024px) {
    .hero-image img {
        inline-size: 500px;
        block-size: 504px;
    }
}